<div id="hangman-person">
    <!--<object id="svg-object" data="assets/img/hangman1.svg" type="image/svg+xml" (load)="onObjLoad()"></object>-->
    <svg
       width="240px"
       height="300px"
       viewBox="0 0 240 300"
       version="1.1"
       id="svg1"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:svg="http://www.w3.org/2000/svg">
      <defs
         id="hangman-svg-defs1" />
      <g
         id="hangman-svg-base">
        <path
           style="fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:1;stroke-dasharray:none;stroke-opacity:1"
           d="m 8.102301,284.08695 c 1.012788,0 41.017904,0 41.017904,0"
           id="hangman-svg-path4" />
        <path
           style="fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:1;stroke-dasharray:none;stroke-opacity:1"
           d="M 28.611253,283.58057 V 10.887468 h 91.404087"
           id="hangman-svg-path5" />
      </g>
      <g
         id="hangman-svg-head">
        <path
           style="fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:1;stroke-dasharray:none;stroke-opacity:1"
           d="M 120.01534,10.634271 V 32.409206"
           id="hangman-svg-path6" />
        <ellipse
           style="fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:2;stroke-dasharray:none;stroke-opacity:1"
           id="hangman-svg-path7"
           cx="119.86597"
           cy="57.602306"
           rx="22.661125"
           ry="25.446291" />
      </g>
      <g
         id="hangman-svg-body">
        <path
           style="fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:2;stroke-dasharray:none;stroke-opacity:1"
           d="M 120.01534,83.048593 V 178.50383"
           id="hangman-svg-path8" />
      </g>
      <g
         id="hangman-svg-rightarm">
        <path
           style="display:inline;fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:2;stroke-dasharray:none;stroke-opacity:1"
           d="m 120.52174,102.29156 h 38.48593"
           id="hangman-svg-path11" />
      </g>
      <g
         id="hangman-svg-leftarm">
        <path
           style="fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:2;stroke-dasharray:none;stroke-opacity:1"
           d="M 81.167455,102.29108 H 119.65339"
           id="hangman-svg-path11-0" />
      </g>
      <g
         id="hangman-svg-rightleg">
        <path
           style="fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:2;stroke-dasharray:none;stroke-opacity:1"
           d="m 120.14162,178.75703 15.82513,59.06021"
           id="hangman-svg-path10" />
      </g>
      <g
         id="hangman-svg-leftleg">
        <path
           style="fill:#ffffff;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:2;stroke-dasharray:none;stroke-opacity:1"
           d="m 120.22372,178.17541 -15.82513,59.06021"
           id="hangman-svg-path10-6" />
      </g>
    </svg>
</div>
