<h2>Hangman Game</h2>
<div class="hangman-gr">
    <div [ngClass]="{'hangman-n-win': win, 'hangman-n-lose': !win && stopped, 'hangman-n': !win && !stopped}">
        <span>{{ notice }}</span>
        <button id="hangman-newgame" (click)="resetGame()">New Game</button>
    </div>
    <div class="hangman-tl"><app-hangman-person [guessesRemaining]="guessesRemaining"></app-hangman-person></div>
    <div class="hangman-tr"><app-hangman-board [displayText]="displaying"></app-hangman-board></div>
    <div class="hangman-b"><app-keyboard [stopped]="stopped" (doGuess)="handleGuess($event)"></app-keyboard></div>
</div>
